{% extends 'quizzes/base.html' %}

{% block title %}{{ quiz.title }}{% endblock %}

{% block content %}
<div class="card">
    <h1>{{ quiz.title }}</h1>
    <p>{{ quiz.description }}</p>
    <p>📝 Всього питань: {{ quiz.questions_count }}</p>

    <form method="POST" class="quiz-form">
        {% csrf_token %}
        <p>Ваше ім'я:</p>
        <input type="text" name="username" class="quiz-input"  required>
        <button type="submit" class="quiz-btn">Почати</button>
    </form>
</div>
{% endblock %}